<!-- using bootstrap structure -->
<div class="media" *ngFor= "let follower of followers" >
  <img class="mr-3" [src]="follower.avatar_url" height="80" width="80" alt="Generic placeholder image">
  <div class="media-body">
    <h4 class="mt-0">
      <a [routerLink]="['/followers', follower.id, follower.login]">{{ follower.login }} </a>
    </h4>
    <a [href]="follower.html_url">{{ follower.html_url }}</a>
  </div>
</div>

<!-- <h1>Github followers</h1>
<ul>
  <li *ngFor= "let follower of followers" class="list-item row">
    <div>
      <img [src]="follower.avatar_url" height="100" width="100" />
    </div>
    <div class="col-lg-11">
      <h4>{{follower.login}}</h4>
      <a [href]="follower.html_url">{{follower.html_url}}</a>
    </div>
  </li>
</ul> -->
